@import 'variables';
@import 'mixins';


.bottom-line {
  border-bottom: 1px solid #eee;
}


.category-list {
  height: 300px;
  img {
    height: 125px;
    width: 200px;
  }
  hr {
    margin: -10px 0 10px 0;
    width: 10px;
  }
  .videoContentBox {
    padding: 0 20px 10px 0px;
  }
}

