@import 'variables';

nav {
  z-index: 3;

  a {
    font-size: 16px;
  }

}

.navbar-default {
  background-color: #585858;
  a {
    &:hover {
      color: $link-color !important;
    }
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #f7f7f7;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border-color: #585858;
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    padding: 20px;
    background-color: #333333;
    border-right: 1px solid #333333;
  }
}

.nav-sidebar {
  margin-top: 31px;
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;

  li {
    // border-bottom: 1px solid #ddd;
    a {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 18px;
      color: #c7c7c7;
      // transition: .2s;
      // -webkit-transition: .2s;

      &:hover {
        color: darken(#5e5e5e, 20%);
        border-right: 1px solid #333333;
      }

      &:focus {
        color: white;
        background: $primary-color;
      }

      &:hover {
        // background: #777;
        // background: $link-color;
        background: $primary-color;
        color: white;
      }
    }
  }
}

footer {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #f7f7f7;
  border-top: 1px solid #ddd;

  p {
    margin-top: 12px;
  }
}