@import 'variables';
@import 'mixins';

.prof-wrapper {
  padding: 0;
  width: 100%;
  .row {
    margin: 0 -7px 0 0;
    padding: 0px;
  }
  .full-width {
    padding: 0;
    margin: 0 -6px;
  }
}

.prof-title {
  color: $secondary-color;
  text-decoration: none;

}

.prof-title:hover {
  color: $secondary-light;
  text-decoration: none;
}

.prof-panel-heading {
  position: relative;
  background-color: $primary-color;
  border: none;
  padding: 10px 0px;

  .prof-head-tag {
    position: relative;
    left: 43px;
    color: $dark-gray;
  }
  .prof-username {
    font-weight: normal;
  }
  .prof-upload-btn {
    position: relative;
    bottom: -7px;
    padding: 0px;

  }
  .prof-sub-panel-head {
    position: relative;
    bottom: -86px;
    background-color: #8beaf7;
    height: 35px;
    width: 100%;
    padding: 0 20px;
  }

}



.prof-head-tag {

  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;

}

.prof-link {
  font-size: 14px;
  color: $secondary-color;
  text-decoration: none;
}

.prof-link:hover {
  color: $secondary-light;
  text-decoration: none;
}

.prof-img {
  position: relative;
  top: -16px;
  background-color: $medium-gray;
  text-decoration: none;
  border: 4px solid #ffffff;
  width: 100px;
  height: 100px;
}

.prof-upload-btn {
  width: 30px;
  height: 20px;
  color: #ffffff;
  background-color: $secondary-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);

}

.profile-img-container {
  width: 100px;
  height: 111px;
  position: relative;
  top: -18px;

  .edit-btn {
    @include centerer;
    top: 100px;
  }
  .editable {
    background-color: $secondary-color;
    color: #ffffff;
    position: relative;
    top: -115px;
    left: 65px;
    width: 32px;
    height: 32px;
    margin: 0px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    span {
      font-size: 1em;
      @include centerer;
    }
  }

}

.prof-details-container {
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
}

.video-btn-remove {
  color: $dark-gray;
  background-color: transparent;
  border: none;
}

.text-container {
  position: relative;
  min-height: 100px;

}

.text-bottom {
  position: relative;
  bottom: -10px;
  left: -10px;
}

.text-middle {
  @include centerer;
}


.editable {
  margin-left: 8px;
}