.subscription-list {
  padding: 10px;
  margin: 10px;
  background-color: #D71C63;
}

.profile-img-subscribe {
  width: 100px;
  height: 100px;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-content {

}

.test-one {
  background-color: #5e5e5e;
}

.test-two {
  background-color: #AA164E;
}
