#video-player {
	width: 100%;
	min-height: 400px;
}

#favButton {
	margin-top: 20px;
}

.comment-image {
	background-color: $medium-gray;
	text-decoration: none;
	width: 70px;
	height: 70px;
	border: .133px solid #575757
}
